`# Python cache
__pycache__/
*.py[cod]

# Virtual environment
env/
venv/
.venv/

# Jupyter
.ipynb_checkpoints/

# Dataset
Data_Sets/

# Flask runtime folders
uploads/
outputs/

# Environment variables
.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp
*.temp